.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/react-app/node_modules/
/users/1/schedules/1.json
/users/1.json
/logs/1_1_20250424.log
/users/1/schedules/2.json
/users/baby/schedules/2.json
/users/1/schedules/3.json
/users/1/schedules/4.json
/src/main/resources/public/static/js/453.2a82e7ac.chunk.js
/src/main/resources/public/static/js/453.2a82e7ac.chunk.js.map
/users/adfvadf.json
/users/andrew.json
/src/main/resources/public/asset-manifest.json
/users/baby.json
/users/big.json
/users/andrew/schedules/bigHoov.json
/users/Bob.json
/users/david.json
/users/DavidOlinger.json
/users/f/schedules/f.json
/users/f.json
/users/farleybm20/schedules/fall 2025.json
/users/farleybm20.json
/users/first.json
/users/DavidOlinger/schedules/firstSched.json
/users/saving/schedules/firstSched.json
/users/jenna/schedules/hewwo.json
/hs_err_pid2164.log
/hs_err_pid15400.log
/hs_err_pid15868.log
/hs_err_pid17512.log
/hs_err_pid21896.log
/hs_err_pid30104.log
/hs_err_pid33020.log
/src/main/resources/public/assets/HutchinsFace.png
/src/main/resources/public/index.html
/users/jenna.json
/users/first/schedules/lol.json
/src/main/resources/public/static/css/main.e6c13ad2.css
/src/main/resources/public/static/css/main.e6c13ad2.css.map
/src/main/resources/public/static/js/main.e6f75c02.js
/src/main/resources/public/static/js/main.e6f75c02.js.LICENSE.txt
/src/main/resources/public/static/js/main.e6f75c02.js.map
/users/me.json
/users/big/schedules/myBigScrummyYummies.json
/users/new.json
/users/me/schedules/now.json
/package.json
/package-lock.json
/users/baby/schedules/ribs.json
/users/david/schedules/s1.json
/users/t1/schedules/s1.json
/users/tom/schedules/s1.json
/users/u1/schedules/s1.json
/users/david/schedules/s2.json
/users/david/schedules/s3.json
/users/Bob/schedules/sajdvnkv.json
/users/saving.json
/users/adfvadf/schedules/sdfasdf.json
/users/sdfbsdfbv.json
/users/saving/schedules/secondSched.json
/users/test/schedules/t1.json
/users/t1.json
/users/test.json
/users/testUser/schedules/TestSchedule.json
/users/new/schedules/testSchedule.json
/users/testUser.json
/users/saving/schedules/thirdSched.json
/users/tom.json
/users/u1.json
